<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.labs12_wellness_bet_exercise_and">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


   <application tools:replace="android:appComponentFactory" android:theme="@style/AppTheme" android:supportsRtl="true" android:roundIcon="@mipmap/ic_launcher_round" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:appComponentFactory="@string/app_name" android:allowBackup="true">

    <activity android:name=".fragmentsNav.innerActivity.CreateGroup"/>

    <activity android:name=".TempPackage.TempNavigationActivity"/>

    <activity android:name=".fragmentsNav.NavigationDrawer"/>

    <activity android:name=".InnerActivity.joinCode"/>

    <activity android:name=".fragmentsNav.WinnerResults"/>

    <activity android:name=".fragmentsNav.ManageGroups"/>

    <activity android:name=".InnerActivity.GroupRegistrationActivity"/>

    <activity android:name=".SignUp.BottomNavigationActivity"/>

    <activity android:name=".fragmentsNav.innerActivity.joinCode"/>

    <activity android:name=".SignUp.AddPhotoActivity"/>

    <activity android:name=".SignUp.CreateAccount"/>


   <activity android:name=".SignUp.LogInActivity">


    <intent-filter>

    <action android:name="android.intent.action.MAIN"/>

    <action android:name="android.intent.action.VIEW"/>

    <category android:name="android.intent.category.DEFAULT"/>

    <category android:name="android.intent.category.BROWSABLE"/>

    <data android:scheme="myapp" android:pathPattern=".*" android:host="logincallback"/>

    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

</application>

</manifest>